In [1]:
from Data_Handler import Data_Handler
from utils import plot_diagrams
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
Data = Data_Handler("Cash flow Forecasting. Yomn - RS.xlsx")

In [3]:
Data.CashFlow

,Country,Cash Flow Type,Category,Item,2025-08-01 00:00:00,2025-09-01 00:00:00,2025-10-01 00:00:00,2025-11-01 00:00:00,2025-12-01 00:00:00,2026-01-01 00:00:00,2026-02-01 00:00:00,2026-03-01 00:00:00,2026-04-01 00:00:00,2026-05-01 00:00:00,2026-06-01 00:00:00
3,NaN,NaN,1,Operating Cash Inflow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KSA,Operating Cash Inflow,NWC Project,NWC Project - Consulting,NaN,94764.6,1000000,300000,300000,300000,300000,300000,300000,300000,300000
5,KSA,Operating Cash Inflow,NWC Project,NWC Project - Non-Consulting,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,KSA,Operating Cash Inflow,NWC Project,NWC Project - Consulting and Non-Consulting,NaN,NaN,161462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,KSA,Operating Cash Inflow,MWAN Project,MWAN Project,NaN,NaN,194977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,KSA,Operating Cash Inflow,MWAN Project,MWAN Project - LG refund,NaN,NaN,NaN,NaN,75000,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,Total Operating Cash Inflow,0,94764.6,1356439,300000,375000,300000,300000,300000,300000,300000,300000
10,NaN,NaN,2,Operating Cash Outflow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,KSA,Operating Cash Outflow,Personnel,Salaries,NaN,-191500,-136000,-136000,-136000,-136000,-136000,-128000,-128000,-128000,-128000
12,KSA,Operating Cash Outflow,Personnel,End Of Services,NaN,-47248.33,-63766.83,0,0,0,0,0,0,0,0
13,KSA,Operating Cash Outflow,Personnel,GOSI,NaN,-10036.63,-10036.63,-10036.63,-10036.63,-10036.63,-10036.63,-10036.63,-10036.63,-10036.63,-10036.63
14,KSA,Operating Cash Outflow,Personnel,Iqama renewal,NaN,NaN,NaN,-9150,-9150,NaN,NaN,NaN,NaN,NaN,NaN
15,KSA,Operating Cash Outflow,Personnel,Medical Insurance,NaN,NaN,NaN,NaN,-67101,NaN,NaN,NaN,NaN,NaN,NaN
16,KSA,Operating Cash Outflow,Personnel,Ahmed Gharawy - Benefits -Tickets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9600,NaN
17,KSA,Operating Cash Outflow,Personnel,KSA Accountant - general:,NaN,-6000,-6000,-6000,-6000,-6000,-6000,-6000,-6000,-6000,-6000
18,KSA,Operating Cash Outflow,Recruitment,Linkedin Exp,NaN,-10000,-5000,-5000,-5000,-5000,-5000,-5000,-5000,-5000,-5000
19,KSA,Operating Cash Outflow,Vendor,La Aseer Project - Vendor,-18692.2,-18692.2,-18692.2,-18692.2,-18692.2,NaN,NaN,NaN,NaN,NaN,NaN
20,KSA,Operating Cash Outflow,Vendor,La Aseer Project - Vendor,-8675.6,-8675.6,-8675.6,-8675.6,-8675.6,NaN,NaN,NaN,NaN,NaN,NaN
21,KSA,Operating Cash Outflow,Vendor,MWAN Project -Ata allah Photographer,-15000,-15000,-15000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,KSA,Operating Cash Outflow,Vendor,MWAN Project -Dar Nassah,-19481,-19481,-19481,-19481,-19481,NaN,NaN,NaN,NaN,NaN,NaN
23,KSA,Operating Cash Outflow,Vendor,NWC Vendor,-26000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,KSA,Operating Cash Outflow,Subscriptions,Microsoft 365,NaN,-1000,-1000,-1000,-1000,-1000,-1000,-1000,-1000,-1000,-1000
25,KSA,Operating Cash Outflow,Subscriptions,PalmHR,NaN,-2975.625,-2975.625,-2975.625,-2975.625,-2975.625,-2975.625,-2975.625,-2975.625,-2975.625,-2975.625
26,KSA,Operating Cash Outflow,Subscriptions,"Mix (ChatGPT, Antivirus…)",NaN,-700,-700,-700,-700,-700,-700,-700,-700,-700,-700
27,KSA,Operating Cash Outflow,Travel Exp,Travel Exp,NaN,-3000,-3000,-3000,-3000,-3000,-3000,-3000,-3000,-3000,-3000
28,KSA,Operating Cash Outflow,Travel Exp,NWC Traveling Exp,NaN,-13000,-13000,-13000,-13000,-13000,-13000,-13000,-13000,-13000,-13000
29,KSA,Operating Cash Outflow,Marketing,Marketing,NaN,-4000,-4000,-4000,-4000,-4000,-4000,-4000,-4000,-4000,-4000
30,KSA,Operating Cash Outflow,Rent,Office Rent,NaN,NaN,-6250,NaN,NaN,-6250,NaN,NaN,-6250,NaN,NaN
31,KSA,Operating Cash Outflow,Government Exp,Gov Fees,NaN,-4000,-4000,-4000,-4000,-4000,-4000,-4000,-4000,-4000,-4000
32,KSA,Operating Cash Outflow,Bank Charges,Bank Charges & Fees,NaN,-500,-500,-500,-500,-500,-500,-500,-500,-500,-500
33,KSA,Operating Cash Outflow,Zakat,Zakat 2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-100000,NaN,NaN
34,KSA,Operating Cash Outflow,VAT and Taxes,VAT & withholding tax,NaN,-300000,-600,-600,-600,-100000,-600,-600,-100000,-600,-600
35,KSA,Operating Cash Outflow,Audit Fees,KSA Accountant - auditor: Hammam Salama,NaN,NaN,NaN,NaN,-10000,NaN,NaN,NaN,-10000,NaN,NaN
36,KSA,Operating Cash Outflow,Lawyer Fees,KSA Lawyer: Sahel,NaN,-7820.0,-7820.0,-7820.0,-7820.0,-7820.0,-7820.0,-7820.0,-7820.0,-7820.0,-7820.0
37,KSA,Operating Cash Outflow,Contingency + Misc.,Contingency + Misc.,-2061.295703,-29995.718372,-20736.408372,-7029.371772,-8571.391772,-8048.795772,-31509.419372,-5841.795772,-10088.795772,-5967.795772,-5775.795772
38,NaN,NaN,NaN,Total Cash outflow For KSA,-89910.095703,-693625.103372,-347234.293372,-257660.426772,-336303.446772,-308331.050772,-226141.674372,-192474.050772,-412371.050772,-202200.050772,-192408.050772
39,Egypt,Operating Cash Outflow,Personnel,Salaries,NaN,-75734.408611,-75734.408611,-75734.408611,-75734.408611,-77054.408611,-77054.408611,-77054.408611,-77054.408611,-77054.408611,-77054.408611
40,Egypt,Operating Cash Outflow,Accounting Exp,EGY Accountant: Delta,-1500,-1500,-1500,-1500,-1500,-1500,-1500,-4800,-1500,-1500,-1500
41,Egypt,Operating Cash Outflow,Rent,Office Rent,NaN,-3828.125,-3828.125,-3828.125,-3828.125,-3828.125,-3828.125,-3828.125,-3828.125,-3828.125,-3828.125
42,Egypt,Operating Cash Outflow,Taxs & Social insurance,Taxs & Social insurance,-11840.985156,-13400,-13400,-13400,-13400,-13400,-13400,-13400,-13400,-13400,-13400
43,Egypt,Operating Cash Outflow,Legal Exp,EGY Lawyer: S&P,-1875,-1875,-1875,-1875,-1875,-1875,-1875,-1875,-1875,-1875,-1875
44,Egypt,Operating Cash Outflow,Petty cash,Petty Cash,NaN,-1000,-1000,-1000,-1000,-1000,-1000,-1000,-1000,-1000,-1000
45,NaN,NaN,NaN,Total Cash outflow For Egypt,-15215.985156,-97337.533611,-97337.533611,-97337.533611,-97337.533611,-98657.533611,-98657.533611,-101957.533611,-98657.533611,-98657.533611,-98657.533611
46,NaN,NaN,NaN,Total Operating Cash Outflow,-105126.080859,-790962.636983,-444571.826983,-354997.960383,-433640.980383,-406988.584383,-324799.207983,-294431.584383,-511028.584383,-300857.584383,-291065.584383
47,NaN,NaN,NaN,Net Cash Provided by Operating Activities,105126.080859,885727.236983,1801010.826983,654997.960383,808640.980383,706988.584383,624799.207983,594431.584383,811028.584383,600857.584383,591065.584383
48,NaN,NaN,3,Investing Cash Outflow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Egypt,Investing Cash Outflow,Assets,Laptops & other,NaN,-3500,-3500,-3500,-3500,-3500,-3500,-3500,-3500,-3500,-3500
50,NaN,NaN,NaN,Total Investing Cash Outflow,0,-3500,-3500,-3500,-3500,-3500,-3500,-3500,-3500,-3500,-3500
51,NaN,NaN,4,Financing Cashflow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,KSA,Financing Cashflow,Loan,New Loan -Al anmaa Bank,1206303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,KSA,Financing Cashflow,Loan,New Loan -Riyadh Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,KSA,Financing Cashflow,Repayment,Repayment of loan -Al anmaa Bank,NaN,-735319,NaN,NaN,NaN,NaN,-1278681.18,NaN,NaN,NaN,NaN
55,KSA,Financing Cashflow,Repayment,Repayment of loan -Riyadh Bank,NaN,NaN,-609485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,Total Cash outflow from Financing,1206303,-735319,-609485,0,0,0,-1278681.18,0,0,0,0
57,NaN,NaN,NaN,NaN,2025-08-01 00:00:00,2025-09-01 00:00:00,2025-10-01 00:00:00,2025-11-01 00:00:00,2025-12-01 00:00:00,2026-01-01 00:00:00,2026-02-01 00:00:00,2026-03-01 00:00:00,2026-04-01 00:00:00,2026-05-01 00:00:00,2026-06-01 00:00:00
58,NaN,NaN,NaN,Total Change in cash,1101176.919141,-1435017.036983,298882.173017,-58497.960383,-62140.980383,-110488.584383,-1306980.387983,2068.415617,-214528.584383,-4357.584383,5434.415617
59,NaN,NaN,NaN,Cash Beginning Balance,157802.15,1258979.069141,-176037.967843,122844.205174,64346.244791,2205.264407,-108283.319976,-1415263.707959,-1413195.292343,-1627723.876726,-1632081.461109
60,NaN,NaN,NaN,Cash Ending Balance,1258979.069141,-176037.967843,122844.205174,64346.244791,2205.264407,-108283.319976,-1415263.707959,-1413195.292343,-1627723.876726,-1632081.461109,-1626647.045493

In [4]:
Data.Cash_Flow_Forecast_Both

,Category,2025-08-01 00:00:00,2025-09-01 00:00:00,2025-10-01 00:00:00,2025-11-01 00:00:00,2025-12-01 00:00:00,2026-01-01 00:00:00,2026-02-01 00:00:00,2026-03-01 00:00:00,2026-04-01 00:00:00,2026-05-01 00:00:00,2026-06-01 00:00:00
0,Accounting Exp,1500.0,1500.0,1500.0,1500.0,1500.0,1500.0,1500.0,4800.0,1500.0,1500.0,1500.0
1,Audit Fees,0.0,0.0,0.0,0.0,10000.0,0.0,0.0,0.0,10000.0,0.0,0.0
2,Bank Charges,0.0,500.0,500.0,500.0,500.0,500.0,500.0,500.0,500.0,500.0,500.0
3,Contingency + Misc.,2061.295703,29995.718372,20736.408372,7029.371772,8571.391772,8048.795772,31509.419372,5841.795772,10088.795772,5967.795772,5775.795772
4,Government Exp,0.0,4000.0,4000.0,4000.0,4000.0,4000.0,4000.0,4000.0,4000.0,4000.0,4000.0
5,Lawyer Fees,0.0,7820.0,7820.0,7820.0,7820.0,7820.0,7820.0,7820.0,7820.0,7820.0,7820.0
6,Legal Exp,1875.0,1875.0,1875.0,1875.0,1875.0,1875.0,1875.0,1875.0,1875.0,1875.0,1875.0
7,Marketing,0.0,4000.0,4000.0,4000.0,4000.0,4000.0,4000.0,4000.0,4000.0,4000.0,4000.0
8,Personnel,0.0,330519.368611,291537.868611,236921.038611,304022.038611,229091.038611,229091.038611,221091.038611,221091.038611,230691.038611,221091.038611
9,Petty cash,0.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
10,Recruitment,0.0,10000.0,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0
11,Rent,0.0,3828.125,10078.125,3828.125,3828.125,10078.125,3828.125,3828.125,10078.125,3828.125,3828.125
12,Subscriptions,0.0,4675.625,4675.625,4675.625,4675.625,4675.625,4675.625,4675.625,4675.625,4675.625,4675.625
13,Taxs & Social insurance,11840.985156,13400.0,13400.0,13400.0,13400.0,13400.0,13400.0,13400.0,13400.0,13400.0,13400.0
14,Travel Exp,0.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0
15,VAT and Taxes,0.0,300000.0,600.0,600.0,600.0,100000.0,600.0,600.0,100000.0,600.0,600.0
16,Vendor,87848.8,61848.8,61848.8,46848.8,46848.8,0.0,0.0,0.0,0.0,0.0,0.0
17,Zakat,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100000.0,0.0,0.0
18,Total Operating Cash Outflow,105126.080859,790962.636983,444571.826983,354997.960383,433640.980383,406988.584383,324799.207983,294431.584383,511028.584383,300857.584383,291065.584383

In [5]:
Data.calculations_dict

{'Cash Beginning Balance': 157802.15,
 'Total Operating Cash Inflow': 3926203.6,
 'Total Cash outflow For KSA': -3258659.2942253477,
 'Total Cash outflow For Egypt ': -999811.321267361,
 'Total Investing Cash Outflow': -35000,
 'Total Cash outflow from Financing ': -1417182.18,
 'Cash Ending Balance': -1626647.0454927087}

In [6]:
plots = plot_diagrams()

In [7]:
plots.waterfall_cash_movement_fig

In [9]:
plots.create_pie_and_bar_with_interactive_slider_fig

VBox(children=(SelectionRangeSlider(continuous_update=False, description='Period:', index=(0, 10), layout=Layo…